/* base style */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto:wght@100;700&display=swap");
html {
  font-size: 62.5%;
}

body {
  color: #000;
  font-size: 1.6rem;
  font-family: "Noto Sans JP", sans-serif;
  -webkit-text-size-adjust: none;
}

a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (min-width: 768px) {
  a:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

:focus, :visited, :active {
  color: #000;
}

input, button, textarea {
  color: #000;
  font-size: 1.6rem;
  font-family: "Noto Sans JP", sans-serif;
}

/*====================

common

====================*/
.inner {
  width: 90%;
  margin: 0 auto;
  padding: 0 2%;
}

h1 {
  color: #fff;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 767px) {
  h1 {
    font-size: 3.2rem;
  }
}

/*====================

aniamtion

====================*/
@-webkit-keyframes scrollAnim {
  0% {
    bottom: -20px;
  }
  100% {
    bottom: -68px;
  }
}
@keyframes scrollAnim {
  0% {
    bottom: -20px;
  }
  100% {
    bottom: -68px;
  }
}
#fadeUpItem {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 1s;
  transition: all 1s;
}
#fadeUpItem span {
  position: relative;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

#hideTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 4.8rem;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
@media (max-width: 767px) {
  #hideTxt {
    font-size: 2.8rem;
  }
}
#hideTxt::before {
  content: "";
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
  margin: auto;
  width: 2px;
  height: 48px;
  background: #fff;
}
#hideTxt::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation-name: scrollAnim;
          animation-name: scrollAnim;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

/*====================

contents

====================*/
section.mainVisual {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background: url(../img/img_01.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
}

section.content {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #343434;
  z-index: 10;
}
@media (max-width: 767px) {
  section.content {
    height: auto;
  }
}
section.content:nth-child(odd) {
  background: #eee;
}
section.content:nth-child(odd) h2 {
  color: #000;
}
section.content:nth-child(odd) p {
  color: #000;
}
section.content .inner {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  section.content .inner {
    padding-top: 4em;
    padding-bottom: 4em;
  }
}
section.content h2 {
  color: #fff;
  font-size: 4.8rem;
  text-align: center;
  margin-bottom: 2em;
}
@media (max-width: 767px) {
  section.content h2 {
    font-size: 2.4rem;
    margin-bottom: 1em;
  }
}
section.content p {
  color: #fff;
  font-size: 2.4rem;
}
@media (max-width: 767px) {
  section.content p {
    font-size: 1.6rem;
  }
}
section.content p + p {
  margin-top: 32px;
}
@media (max-width: 767px) {
  section.content p + p {
    margin-top: 1em;
  }
}